<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="d-flex justify-content-end align-items-center">
            <a href="/dashboard" class="btn btn-secondary">Report</a>
            <a href="/logout" class="btn btn-secondary">Log Out</a>
        </nav>
        <main>
            <h1>{{ report.title }}</h1>
            <p>Location: {{ report.location }}</p>
            <p>Sighting Date: {{ report.sighting_date.strftime("%B %d, %Y") }}</p>
            <p>Description: {{ report.what_happened}}</p>
            <p>Posted By: {{ user.first_name }} {{ user.last_name }}</p>
        </main>
    </div>
</body>
</html>